<div class="card">
  <div class="card-body">
    <h1>
      About
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim, alias est 
      numquam quasi quam eum beatae commodi odit nisi recusandae! Iure quas minima 
      itaque similique eligendi, nostrum quae quos quo, sit qui repellendus! Tenetur
       sapiente exercitationem reprehenderit debitis quis architecto.
    </p>
  </div>
</div>