<div class="jumbotron mt-4">
  <h1 class="display-4">Notes app Nodejs and MongoDb</h1>
  <p class="lead">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
  </p>
  <hr class="my-4" />
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
 Nisi nostrum alias soluta ipsam itaque? Saepe ullam odio explicabo 
 ab quia praesentium atque, culpa voluptatem, reprehenderit soluta 
 eaque veritatis asperiores deleniti!
  </p>
  <a href="http://google.com" class="btn btn-primary btn-lg">Google</a>
</div>